/* global */
/* .center {
  text-align: center;
} */
.block {
  display: block;
}
.flex {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}
.nav-bar {
  background-color: grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 8vh;
}
form {
  padding: 10px;
  margin-left: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search {
  outline: none;
  border: none;
  border-radius: 2px;
  width: 200px;
  font-size: medium;
  margin-left: 10px;
}
nav {
  width: 65%;
  position: relative;
  bottom: 12px;
}

.nav-bar nav ul {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
#last-list {
  color: black;
  border-left: 0.5px solid gray;
}
