button span {
  color: white;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
}
.nav-bar {
  background-color: rgb(44, 57, 71);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 8vh;
}
form {
  padding: 10px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.search {
  outline: none;
  border: none;
  border-radius: 2px;
  width: 280px;
  font-size: medium;
  margin-left: 10px;
  background-color: #f4f4f4;
}
nav {
  width: 55%;
  position: relative;
  bottom: 18px;
  right: 20px;
}

.nav-bar nav ul {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.nav-bar nav ul li {
  opacity: 0.7;
}
.nav-bar nav ul li:hover {
  opacity: 1;
}
.nav-bar li span:last-child {
  font-size: small;
  position: relative;
  bottom: 4px;
}
.burger div {
  height: 25px;
  width: 3px;
  background-color: white;
  margin: 5px;
}
.post {
  background-attachment: fixed;
  position: relative;
}

/* media queries */
@media (max-width: 768px) {
  body {
    background-color: rgb(231, 231, 231);
  }
  form {
    margin-left: 50px;
  }

  nav,
  .grid1,
  .grid3 {
    display: none;
  }
}
